<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task List</title>
    <script th:src="@{/js/tasks.js}"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<h1>Add new task</h1>
<form action="/task/add" method="post">
    <label>
        Task description
        <input type="text" name="text" size="50" placeholder="Type new task description">
    </label>
    <button type="submit">Add task</button>
    <button type="reset">Clear</button>
</form>
<h1>Filters</h1>
<form action="/task/list" method="post">
    <label>
        Hide Completed Tasks
        <input id="hideCompleted" type="checkbox" name="hideCompleted" th:checked="${hideCompleted}">
    </label>
    <button id="filterTasks" type="submit">Filter</button>
</form>
<header>
    <h1>Spring Campus Demo TODO list</h1>
</header>
<ul id="taskList">
    <li th:each="task : ${taskList}">
        <div>
            <form method="post">
                <!--suppress HtmlFormInputWithoutLabel -->
                <input type="text" name="id" th:value="${task.id}" hidden/>
                <!--suppress HtmlFormInputWithoutLabel -->
                <input type="checkbox" name="done" th:checked="${task.done}"/>
                <span th:class="${task.done} ? checked : ''" th:text="${task.text}"></span>
                <button class="save-task" type="submit" formaction="/task/update">Save</button>
                <button class="delete-task" type="submit" formaction="/task/delete">Delete</button>
            </form>
        </div>
    </li>
</ul>
</body>
</html>