<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script th:src="@{/js/tasks.js}"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<h1>Add new task</h1>
<form action="/task/add" method="post">
    <input type="text" name="text" size="50" placeholder="Type new task description">
    <div>
        <button type="submit">Add task</button>
        <button type="reset">Clear</button>
    </div>
</form>
<header>
    <h1>Spring Campus Demo TODO list</h1>
</header>
<ul th:each="task : ${taskList}">
    <li>
        <div>
            <form method="post">
                <!--suppress HtmlFormInputWithoutLabel -->
                <input type="text" name="id" th:value="${task.id}" hidden/>
                <!--suppress HtmlFormInputWithoutLabel -->
                <input type="checkbox" name="done" th:checked="${task.done}"/>
                <span th:class="${task.done} ? checked : ''" th:text="${task.text}"></span>
                <button class="save-task" type="submit" formaction="/task/update">Save</button>
                <button class="delete-task" type="submit" formaction="/task/delete">Delete</button>
            </form>
        </div>
    </li>
</ul>
</body>
</html>