<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task List</title>
</head>
<body>
<h1>Add new task</h1>
<form action="/task/addTask" method="post">
    <input type="text" name="text" size="50" placeholder="Type new task description">
    <div>
        <button type="submit">Add task</button>
        <button type="reset">Clear</button>
    </div>
</form>
<header>
    <h1>Spring Campus Demo TODO list</h1>
</header>
<ul th:each="task : ${taskList}">
    <li><span th:text="${task.text}"></span></li>
</ul>
</body>
</html>